/* Стили подвала сайта */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__label {
}
.footer__label_low-opacity {
	opacity: 0.7;
}
.footer__divider {
	box-sizing: border-box;
	border: 0.5px solid #fff;
	height: 1px;
	width: 100%;
}
